<div id="body">
    <section class="content-wrapper clear-fix">
        <h3>Telerik Kendo UI Core</h3>
        <div id="clientsDb">
            @RenderPage("Products.cshtml")
        </div>
    </section>
</div>
